@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

h3{
    font-size: 1.4rem;
    font-weight: 800;
}

h4{
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

h6{
    color: white;
}

.button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

hr{
    width: 50px;
    background-color: #fb774b;
}

.button:hover{
    background-color: #3a3833 ;
}

.navbar{
    font-size: 16px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and(max-width: 992px){
    #about > h5{
     line-height: 0px;
 }
    }

.navbar-light .navbar-nav .nav-item .nav-link{
    padding: 0 20px;
    color: black;
    font-weight: 600;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-item .nav-link.active,
.navbar i.active{
    color: coral;
}

.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

/* mobile nav start */
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}

#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: black;
    width: 50px;
    height: 40px;
}
@media only screen and (max-width: 991px){
    .araf{
        margin: 1rem;
        justify-content: center;
        align-items: center;
        text-align: right;
    }
    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 10px 0;
    }
    body > footer > div.copyright.mt-5 > div > div:nth-child(1){
        text-align: center;
    }
    body > footer > div.copyright.mt-5 > div > div:nth-child(3){
        text-align: center;
    }
}


#bar:hover,
#bar.active{
    color: white;
    background: coral;
    border-radius: 3px;
}
/* mobile nav start */

#home{
    background: url(img/back.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span{
    color: coral;
}

#new .one img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#new .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}

#new .one:hover .details{
    cursor: pointer;
    background-color: rgba(255, 178, 178, 0.7);
}

#new .one .details button{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #2a2a2a;
    padding: 2.5px;
    transform: translateY(70px);
    transition: 0.3s ease;
    outline: none;
    border: none;
    border-bottom: 1px solid #2a2a2a;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
    background: none;
}

#new .one .details button:hover{
    color: white;
    border-bottom: 1px solid white;
}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    padding: 15px;
}

#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
}

#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    padding: 15px;
}

.product{
    cursor: pointer;
    margin-bottom: 2rem;
    transition: 0.4s ease;
}

.product:hover{
    transform: scale(1.05);
}

.product img{
    transition: 0.4s all;
}

.product:hover img{
    opacity: 0.7;
}

.product .button{
    background: #fb774b;
    outline: none;
    border-radius: 5px;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.4s all;
}

.product:hover .button{
    transform: translateY(0);
    opacity: 1;
}

.star{
    padding: 10px 0;
}

#banner{
    background: url(img/banner/2.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h4{
    color: #d8d8d8;
    font-size: 1.2rem;
}

#banner h1{
    color: white;
    font-weight: bold;
}

#banner button{
    background: #fb774b;
}

footer{
    background: #222222;
}

footer h5{
    color: #d8d8d8;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li{
    padding-bottom: 4px;
}

footer li a{
    font-size: 0.8rem;
    color: #999;
}

footer li a:hover{
    color: #d8d8d8;
}

footer p{
    color: #999;
    font-size: 0.8rem;
}

footer h6{
    color: #d8d8d8;
}

footer .copyright a{
    color: #000;
    width: 38px;
    height: 38px;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.4s ease;
    margin: 0 5px;
}

body > footer > div.copyright.mt-5 > div > div:nth-child(3) > a:hover{
    background: white;
    transform: scale(1.2);
}